


body {
	background-color: #21c2f5;
}

h1 {
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #30343F;
	font-size: 5rem;
	font-weight: 100;
}
.strong {
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #30343F;
	font-size: 5rem;
	font-weight: 600;
}


.corps {
	text-align:  center;
	background-color: rgba(255,255,255,0.3);
	padding: 50px;
	margin: auto;
	max-width: 70%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #1b2021;
	box-shadow: 4px 4px 10px #30343F;
	border-radius: 6px;
}

.button {
	background-color: rgb(187,59,206);
	border-radius: 6px;
	box-shadow: 2px 2px 5px #30343F;
	border: 1px solid #30343F ;
	padding: 10px;
	margin: 20px;
	font-weight: 600;
	font-size: 2rem;
	color: #30343F;
	transition-duration: 0.5s;

}

.button:hover {
	background-color: #21c2f5;
	transition-duration: 0.5s;
}

#answer {
	font-weight: 600;
	color: #30343F;
}

#enterLogin {
	
	border:2px solid rgba(255,255,255,.5);
	font-size:1.75em;
	padding:.25em .5em .3125em;
	color:#30343F;
	border-radius:6px;
	background:transparent;
	box-shadow: 1px 1px 3px #30343F;

}



@import 'https://fonts.googleapis.com/css?family=Salsa|Pacifico';
:root {
  --spread: .5em;
  --shift: .01em;
  --base: #4d70c7;
  --c1: #21c2f5;
  --c2: #9c63c7;
}

@-webkit-keyframes flicker1 {
  95% {
    text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--base), calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 0 0 var(--spread) var(--base), 0 0 calc(var(--spread) / 1.5) var(--base);
  }
  98% {
    text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--c2), calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 0 0 0 var(--base), 0 0 0 var(--base);
  }
}

@keyframes flicker1 {
  95% {
    text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--base), calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 0 0 var(--spread) var(--base), 0 0 calc(var(--spread) / 1.5) var(--base);
  }
  98% {
    text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--c2), calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 0 0 0 var(--base), 0 0 0 var(--base);
  }
}
@-webkit-keyframes flicker2 {
  90% {
    opacity: 0.1;
    text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--c2), calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 0 0 0 var(--base), 0 0 0 var(--base);
  }
}
@keyframes flicker2 {
  90% {
    opacity: 0.1;
    text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--c2), calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 0 0 0 var(--base), 0 0 0 var(--base);
  }
}
body {
  font-family: "Salsa", sans-serif;
}

h3 {
  font-family: "Pacifico", cursive;
  font-weight: 100;
  margin: 100px auto;
  padding-top: 50px;
  font-size: 2em;
  letter-spacing: -0.01em;
  transform: rotate(-12deg);
  color: transparent;
  text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--base), calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 0 0 var(--spread) var(--base), 0 0 calc(var(--spread) / 1.5) var(--base);
}
h3 span:nth-child(1) {
  -webkit-animation: flicker1 1s infinite alternate ease-in-out;
          animation: flicker1 1s infinite alternate ease-in-out;
}
h3 span:nth-child(2) {
  -webkit-animation: flicker1 1.5s infinite alternate ease-in-out;
          animation: flicker1 1.5s infinite alternate ease-in-out;
}
h3 span:nth-child(3) {
  -webkit-animation: flicker1 0.47s infinite alternate ease-in-out;
          animation: flicker1 0.47s infinite alternate ease-in-out;
}
h3 span:nth-child(4) {
  -webkit-animation: flicker2 0.1s infinite alternate ease-in-out;
          animation: flicker2 0.1s infinite alternate ease-in-out;
}

p {
  margin: 0;
  transform: translateX(10%);
}

main {
  text-align: center;
  font-size: 4vmin;
  color: #fff;
  padding: 40px;
}

html, body {
  height: 100%;
}

body {
  background-image: url(3349.jpeg);
  background-size: 200%;
  background-position: center center;
  border: 2px solid #30343F;
  font-size: 1.75em;
  margin-top: 20px;
  padding: 0.25em 0.5em 0.3125em;
  color: #ffa69e;
  background-color: #ffa69e;
  border-radius: 0.25em;
  transition: all 0.1s;
}
span:focus,
input:focus {
  outline: none;
  color: #ffa69e;
  border-color: #ffa69e;
}
span.keyup,
input.keyup {
  color: #ffa69e;
  border-color: #ffa69e;
  text-shadow: 0 0 0.125em #ffa69e;
  box-shadow: 0 0 0.25em #ffa69e, inset 0 0 0.25em #ffa69e;
}

canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

input {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

::-webkit-input-placeholder {
  color: #ffa69e;
  text-shadow: 0 0 0.125em transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

input:focus::-webkit-input-placeholder {
  opacity: 0.5;
}

::-moz-placeholder {
  color: #ffa69e;
  text-shadow: 0 0 0.125em transparent;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

input:focus::-moz-placeholder {
  opacity: 0.5;
}

:-ms-input-placeholder {
  color: #ffa69e;
  text-shadow: 0 0 0.125em transparent;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}

input:focus:-ms-input-placeholder {
  opacity: 0.5;
}